/*ESTILO FOOTER*/
@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }
}

footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.473), transparent);
  opacity: 0.6;

  position: relative;
  
}

.copyright {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap
}

.copyright .heart {
  color: #ffffff;
  font-size: 18px;
  animation: heartbeat 2s ease-in-out infinite
}

.year {
  color: #ffffff;
  font-weight: 700
}